<div class="container" style="margin-top:10px;">

    <h4> {{ ucus?.plane?.brandName }}</h4>
    <hr>

    <div class="row">
        <div class="col-md-3">
            <img src="{{ ucus?.plane?.brandImage }}" class="img-thumbnail img-fluid">

            <label
                style="text-align:center; font-weight: bold; justify-content:space-around; display: flex; padding-top:10px">
                {{ ucus?.departurePoint }} <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                    fill="currentColor" class="bi bi-airplane" viewBox="0 0 16 16">
                    <path
                        d="M6.428 1.151C6.708.591 7.213 0 8 0s1.292.592 1.572 1.151C9.861 1.73 10 2.431 10 3v3.691l5.17 2.585a1.5 1.5 0 0 1 .83 1.342V12a.5.5 0 0 1-.582.493l-5.507-.918-.375 2.253 1.318 1.318A.5.5 0 0 1 10.5 16h-5a.5.5 0 0 1-.354-.854l1.319-1.318-.376-2.253-5.507.918A.5.5 0 0 1 0 12v-1.382a1.5 1.5 0 0 1 .83-1.342L6 6.691V3c0-.568.14-1.271.428-1.849Zm.894.448C7.111 2.02 7 2.569 7 3v4a.5.5 0 0 1-.276.447l-5.448 2.724a.5.5 0 0 0-.276.447v.792l5.418-.903a.5.5 0 0 1 .575.41l.5 3a.5.5 0 0 1-.14.437L6.708 15h2.586l-.647-.646a.5.5 0 0 1-.14-.436l.5-3a.5.5 0 0 1 .576-.411L15 11.41v-.792a.5.5 0 0 0-.276-.447L9.276 7.447A.5.5 0 0 1 9 7V3c0-.432-.11-.979-.322-1.401C8.458 1.159 8.213 1 8 1c-.213 0-.458.158-.678.599Z" />
                </svg> {{
                ucus?.destination}}</label>

            <label style="display:flex; justify-content:center; padding-top:10px;">
                {{ ucus?.departureTime?.toLocaleString()}}
            </label>
        </div>
        <div class="col-md-9">
            <h2> Yolcu bilgileri</h2>
            <hr>
            <form [formGroup]="personFrom">
                <div class="row">
                    <div class="col-md-2">
                        <label> Name:</label>
                        <input type="text" class="form-control" formControlName="name">
                    </div>
                    <div class="col-md-2">
                        <label> Surname:</label>
                        <input type="text" class="form-control" formControlName="surname">
                    </div>
                    <div class="col-md-2">
                        <label> Passport no:</label>
                        <input type="number" class="form-control" formControlName="identity">
                    </div>
                    <div class="col-md-2">
                        <label> Email:</label>
                        <input type="text" class="form-control" formControlName="email">
                    </div>
                    <div class="col-md-2">
                        <label> Gender:</label>
                        <select class="form-control" formControlName="gender">
                            <option value="male"> MALE</option>
                            <option value="female"> FEMALE</option>
                        </select>
                    </div>

                    <div class="col-md-2">
                        <label> Seat:</label>
                        <select class="form-control" formControlName="seat">
                            <option value="BUSINESS"> BUSINESS</option>
                            <option value="ECONOMY"> ECONOMY</option>
                        </select>
                    </div>

                </div>
                <button class="btn btn-primary" style="margin-top:10px;" (click)="buy()"> BUY </button>
                <hr>
                <button type="button" class="btn btn-outline-warning waves-effect px-3">
                    <i class="bi bi-person-plus" aria-hidden="true"></i>
                </button>

            </form>
        </div>
    </div>

</div>