<div class="container">
    <!-- <form [formGroup]="form">
        <mat-form-field>
            <label>
                Employee
            </label>
            <input matInput type="text" [matAutocomplete]="auto" formControlName="employee" />
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let item of filteredOptions" [value]="item">
                    {{ item }}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </form> -->

    <form [formGroup]="form">
        <input type="text" [matAutocomplete]="auto" formControlName="employee" class="form-control"/>
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let item of filteredOptions" [value]="item">
                {{ item }}
            </mat-option>
        </mat-autocomplete>
    </form>
</div>