<div class="container">

    <h2> Image Update</h2>
    <hr>
    <form>
        <div class="row">
            <div class="col-md-4">
                <input type="file" accept=".png ,.jpg ,.jpeg" class="form-control" (change)="onFileSelected($event)">
            </div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-primary" (click)="update()"> Save </button>
            </div>
            <div class="col-md-6">
                <img src="{{ filePath }}" class="img-fluid border border-dark border-2" />
            </div>
        </div>
    </form>

</div>