<div class="container">
      <hr>
      <div class="list-group">
        <button type="button" class="list-group-item list-group-item-action" (click)="photo()">
          Update Profile Photo
        </button>
        <button type="button" class="list-group-item list-group-item-action" (click)="session()">Session History</button>
        <button type="button" class="list-group-item list-group-item-action" (click)="reservation()">My Reservations</button>
        <button type="button" class="list-group-item list-group-item-action" (click)="ticket()">My Tickets</button>
      </div>
</div>